<a href="https://colab.research.google.com/github/prathyush016/Bootcamp2.0/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python String Manipulation
Count the number of times iNeuron appears in the string.
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [2]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuroniNeuron"

text.count("iNeuron")

4


Check if position 5 to 11 ends with the phrase iNeuron. in the string
txt = "Hello, welcome to FSDS 2.0 at iNeuron."

In [6]:
txt = "HelloiNeuron, welcome to FSDS 2.0 at iNeuron."
subtxt=txt[5:12]
print(subtxt)
print(subtxt.endswith("iNeuron"))

iNeuron
True

3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [8]:
a=input("Enter your full name in the order first, middle, last name seperated by space : ")
first,middle,last=a.split(" ")
print(first)
print(middle)
print(last)
print(first[0]+"."+middle[0]+"."+last)

Enter your full name in the order first, middle, last name seperated by space : Ramireddy Leela Prathyush
Ramireddy
Leela
Prathyush
R.L.Prathyush

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [19]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
string=""
for i in range(len(LIST)):
  string=string+LIST[i]+"#"
  print(string)
str1=string[0:len(string)-1] 
print(str1)

My#
My#name#
My#name#is#
My#name#is#Rishav#
My#name#is#Rishav#Dash#
My#name#is#Rishav#Dash

5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

In [35]:
from IPython.terminal.embed import KillEmbedded
a="45.50"
b="prathyush"
c="REDDY"
d="AsDfGhJk"
k="9398944211"

q=k.isdecimal()
print(q)
r=b.islower()
print(r)
w=c.isupper()
print(w)
e=b.isalpha()
print(e)
t=k.isnumeric()
print(t)

True
True
True
True
True

6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [41]:
PAN=input("Enter your PAN CARD NUMBER : ")
l=PAN[0:5]
j=PAN[5:9]
f=PAN[-1]
print(l)
print(j)
print(f)
if len(PAN)==10 and l.isupper() and l.isalpha() and j.isnumeric() and f.isupper() and f.isalpha():
  print(f"USER INPUT IS CORRECT : {PAN}")
else:
  print(f"USER INPUT IS NOT AS PER THE FORMAT ABCDE1234X : {PAN}")

Enter your PAN CARD NUMBER : COBPP7284J
COBPP
7284
J
USER INPUT IS CORRECT : COBPP7284J