<a href="https://colab.research.google.com/github/prathyush016/Bootcamp2.0/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. What is indentation error? Why indentation is important? Give one simple example?

Ans:
Indentation the format of the code provided to the compiler to understand the program.
If the code is not in correct format, spaces at the start of block of code, then we receive indentation error in Python.

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

In [4]:
t= input("Hey friend, is class started?: [0-False/1-True]")
class_started=t
print(class_started)
print(type(class_started))
if class_started == "1" or class_started == True:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]False
False
<class 'str'>
Since class is not started...
let's revise

3. Use if else condition to verify that dataype of `input()` method in python is always string.

In [9]:
t= input("ENter any value, number, alphabet or sombination of both")
print(f"""
enter value is : {t}
data type of value entered is :{type(t)}""")

ENter any value, number, alphabet or sombination of both1m2n14v1c4d4

enter value is : 1m2n14v1c4d4
data type of value entered is :<class 'str'>


4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [11]:
a=int(input("enter 1st number : "))
b= int(input("enter 2nd nummber : "))
c=int(input("enter 3rd number : "))
if a>b:
  if a>c:
    if b>c:
      print(f"largest number among the given numbers is : {a}")
      print(f"descending order of the given numbers is : {a,b,c}")
    elif c>b:
      print(f"largest number among the given numbers is : {a}")
      print(f"descending order of the given numbers is : {a,c,b}")
if b>a:
  if b>c:
    if a>c:
     print(f"largest number among the given numbers is : {b}")
     print(f"descending order of the given numbers is : {b,a,c}")
    elif c>a:
     print(f"largest number among the given numbers is : {b}")
     print(f"descending order of the given numbers is : {b,c,a}")
if c>a:
  if c>b:
    if a>b:
     print(f"largest number among the given numbers is : {c}")
     print(f"descending order of the given numbers is : {c,a,b}")
    elif c>a:
     print(f"largest number among the given numbers is : {c}"-2
           )
     print(f"descending order of the given numbers is : {c,b,a}")

enter 1st number : -1
enter 2nd nummber : -2
enter 3rd number : 0
largest number among the given numbers is : 0
descending order of the given numbers is : (0, -1, -2)

5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )

In [12]:
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )

False

6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)

In [20]:
        A = 5.0
        B = 10/2
        print(B)
        print(A is B)

5.0
False

In [18]:
        A = 5.0
        B = int(10/2)
        print(B)
        print(A is B)

5
False

In [16]:
        A = 5.0
        B = float(10/2)
        print(B)
        print(A is B)

5.0
False

In [21]:
A=10
B=10
print(A is B)

True

7.
Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [28]:
p=input("enter the number : ")
o=p.isdecimal()
if o:
  p=int(p)
  if p%3==0 or p%5==0:
   print("Given number is divisible either by 3 or 5 ")
  else:
   print("Given number is not divisible by 3 or 5 ")
else:
  print("enter a number of data type integer only")

enter the number : 89
Given number is not divisible by 3 or 5

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [32]:
l=float(input("enter the length : "))
w=float(input("enter the width : "))
if l==5:
  i="SQUARE"
else:
  i="RECTANGLE"
print(f"Area of given {i} is : {l*w}")

enter the length : 25.4
enter the width : 26.3
Area of given RECTANGLE is : 668.02

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [34]:
r1=float(input("enter the radius of first circle:"))
r2=float(input("enter the radius of second circle:"))
a1=22.7*r1*r1
a2=22.7*r2*r2
if r1==r2:
  print(f"Area of both the circles are EQUAL and the area is : {a1}")
else:
  print(f"""Area of first circlel is : {a1}
  Area of second circel is : {a2}""")

enter the radius of first circle:12
enter the radius of second circle:11
Area of first circlel is : 3268.7999999999997
  Area of second circel is : 2746.7

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [46]:
y=input("enter the year(YYYY) : ")
Y=int(y)
if y[2:4]=="00":
  if Y%400==0:
    print(f"{y} is a leap year")
  else:
    print(f"{y} is not a leap year")
elif Y%4== 0:
  print(f"{y} is a leap year")
else:
  print(f"{y} is not a leap year")

enter the year(YYYY) : 9000
9000 is not a leap year