<a href="https://colab.research.google.com/github/prathyush016/Bootcamp2.0/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Find the largest number from the given list, use for loop.
numbers = [12, 75, 150, 180, 145, 525, 50]

In [23]:
numbers = [12, 75, 150, 180, 145, 525, 50,890,-910,1,12508,12508.5]
B=sorted(numbers)
p=0
b=numbers[0]
for i in range(len(numbers)-1):
    if numbers[i]>=numbers[i+1]:
      a=numbers[i]
    else: a=numbers[i+1]
print(f"{a}")

12508.5

Q2. Print all the even number between (1, 12).

In [30]:
a=int(input("enter an integer number:"))
for i in range(a-2):
  if i%2==0:
    print(i+2, end= " ")
  else:
    print()

enter an integer number:49
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

Q3. Calculate the sum of all numbers from 1 to a given number

In [34]:
a=int(input("enter an integer number:"))
p=0
for i in range(a+1):
  p=p+i
print(p)

enter an integer number:100
5050

Q4. Write a program to display only those numbers from a list that satisfy the following conditions
The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
 Given:
numbers = [12, 75, 150, 180, 145, 525, 50]

In [66]:
numbers = [12, 75, 150, 180, 145, 80, 525, 50]
for i in range(len(numbers)):
  if  numbers[i]<500:
    if numbers[i]%5==0:
      if numbers[i]<150:
        print(numbers[i], end = " ")
      else: print()
    else: print()
  else: break

75

145 80

Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [68]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]